.hero{
    position: relative;

}
 .banner-img{
    width: 100%; /* Set to full container width */
   
    height: 80vh; /* Set height to 80% of viewport */
    object-fit: cover; /* Ensure the image covers the container without distortion */
    margin: 0 auto; 
    mask-image: linear-gradient(to right,transparent ,black 75%);
   -webkit-mask-image: linear-gradient(to right,transparent ,black 75%);
}

.hero-caption{
    position: absolute;
    width: 100%;
   padding-left: 6%;
   bottom: 0;


}
.hero-title{
    font-size: 2.5rem;
    font-weight: 800;
    color: white;
    margin-bottom: 30px;
}
.hero-overview{
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}
.hero-btn {
    display: flex;
    gap: 10px;
    margin-bottom: 50px;

}
.hero-btn .btn img{
    width: 25px;

}
.hero-btn .btn {
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background:white ;
    border-radius: 4px;
    cursor: pointer;
}
.hero-btn .btn.dark-btn{
    color: white;
    background: #6d6d6eb3;
} 

.hero-btn .btn:hover{
    background: #ffffffbf;
}
.hero-btn .btn.dark-btn:hover{
    background: #6d6d6e66;
}

.popular{
    padding: 20px 0;
    margin-left:30px;
    font-size: 30px;
    font-weight: 800;
}